{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
    <h1>Welcome to my django first project</h1>
    <img src="{% static 'images/django_logo.png' %}" alt="Didn't show up!" /> 
    <p>Go to /appone for all access records of website and date accessed</p>
    <p>Go to /apptwo for the help page</p>
    <p>Go to /users to the users page</p>
    <p>Go to /home for the homepage</p>
</body>
</html>